node_modules
__pycache__
*.pyc
*.pyo
*.egg-info/
dist/
build/
.git
.gitignore
.env
.env.local
.DS_Store
*.log
venv/
env/
.vscode/
.idea/
*.sqlite3
db.sqlite3
media/
staticfiles/
.pytest_cache/
.coverage
htmlcov/
frontend/app/node_modules
frontend/app/dist